body{
	background-color: #F7F9FC;
	color:#575F7D;
	font-family: 'Lora', serif;
	font-weight: lighter;
	text-align: center;
}
h1, h2, h3 {font-family: 'Roboto', sans-serif;}
h1 {
	color: #575F7D;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 32px;
	text-align: center;
}
h2 {
	color: #7ECE90
	font-weight: lighter;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 24px;
	text-align: center;
}
a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #6B72E1;
	font-weight: bold;
	text-align: center;
}
a:hover {
	color: black;
}

.container {
	width: 700px;
	margin: 40px auto;
}
.card-white {
	padding: 60px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
    border-radius: 20px
    text-align: center; 
}
.img-circle{
	border-radius: 50%;
}
.btn-red{
	background-color: #570615;
color: white;
padding: 15px 20px;
border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}
.list-inline{
	list-style: none;
	padding-left: 0px 
}
.list-inline li{
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
}
.list-inline i:hover {
	font-size: 50px;
	color: black;
}
#introduction p {
	margin-bottom: 40px;
}

